.button {
  padding: 20px 40px;
  background-color: $color-secondary;
  border-radius: 10px;
  cursor: pointer;

  &__btn:link {
    text-decoration: none;
    color: $color-main;
  }
  &:hover {
    background: $color-primary;
  }
}
